/* Add these styles to your CSS file */

/* Background gradient for the entire page */

/* Form container styles */
.login_Form {
    background: #fff;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25rem; /* Adjust width as needed */
    max-width: 90%;
}

/* Heading styles */
.login_Form h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

/* Input field styles */
.input-field {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* Button styles */
.btn-primary {
    width: 100%;
    padding: 0.75rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    background-color: #4285f4; /* Default background color */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition effect */
}

/* Change button color on hover */
.btn-primary:hover {
    background-color: #3c78dc; /* New background color on hover */
}

/* Change button color on click */
.btn-primary:active {
    background-color: #3367d6; /* New background color on click */
}

/* Text below button styles */
.login_Form .text-sm {
    color: #666;
    text-align: center;
    margin-top: 1rem;
}

/* Link styles */
.login_Form .text-blue-500 {
    color: #4285f4;
    text-decoration: none;
}
